html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* 
	This pattern is downloaded from www.subtlepatterns.com 
	If you need more, that's where to get'em.
	*/
  background-image: url(../img/background.png);
  color: #efefef;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

#container {
  overflow: auto;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

h1 {
  color: #bc3239;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 4.5rem;
  margin: 30px auto;
  text-shadow: 50px 0 100px #000;
}

h2 {
  font-weight: 300;
  text-align: left;
  font-size: 2.8rem;
  color: #f29398;
  text-transform: uppercase;
  margin: 35px 0;
  border-top: 2px solid #cdcdcd;
  letter-spacing: 4px;
  padding-top: 10px;
}

h3,
header p {
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  font-size: 2.4rem;
  margin: 20px 0;
}

body header#logo {
  padding: 60px 0;
}

p {
  margin: 15px 0;
}

article p {
  padding: 10px;
}

main {
  padding: 20px;
  text-align: left;
  max-width: 1000px;
  margin: auto;
}

article {
  margin-bottom: 160px;
}

section {
  margin-bottom: 100px;
}

.centeredImages {
  text-align: center;
  margin: 50px 0;
}

.centeredImages::after {
  content: "";
  display: block;
  clear: both;
}

img.logoGit {
  width: 50%;
  float: left;
}

@media (min-width:320px) {}

@media (min-width:480px) {
  img.logoGit {
    max-width: 250px;
    margin: 0;
    float: none;
  }
  body header#logo h1 {
    font-size: 60px;
  }
}

@media (min-width:600px) {
  article p {
    padding: 20px;
  }
}

@media (min-width:801px) {
  body {
    font-size: 1.8rem;
  }
  article p {
    padding: 30px;
  }
}

@media (min-width:1025px) {}

@media (min-width:1281px) {}