* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b24;
    color: #d6d6d6;
}

.boxes-container,
.container {
    display: flex;
}

.container {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.boxes-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
}

.animated-box {
    transition: .2s;
}
.animated-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 60px #3b3b94;
}

.rad-grad {
    background: -webkit-radial-gradient(circle, orange, red);
    background: -moz-radial-gradient(circle, orange, red);
    background: -o-radial-gradient(circle, orange, red);
    background: radial-gradient(circle, orange, red);
}

.ling-grad {
    background: -webkit-linear-gradient(white, black);
    background: -moz-linear-gradient(white, black);
    background: -o-linear-gradient(white, black);
    background: linear-gradient(white, black);
}

.ling-grad::before,
.opacity-box.second {
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ling-grad::before {
    content: 'V';
    width: 100%;
    height: 100%;
    opacity: .2;
    transition: .2s;
}

.ling-grad:hover::before {
    text-shadow: 0 0 50px #000000;
    opacity: 1;
}

.ling-grad-spec {
    opacity: .5;
}

.ling-grad-spec::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(right bottom, blue, white);
    background: -moz-linear-gradient(right bottom, blue, white);
    background: -o-linear-gradient(right bottom, blue, white);
    background: linear-gradient(right bottom, blue, white);
}

.ling-grad-spec:hover {
    opacity: 1;
}

.opacity-box {
    opacity: 0;
}
.opacity-box:hover {
    opacity: 1;
}

.opacity-box.first {
    background-color: #000000;
    opacity: .2;
}

.opacity-box.first:hover {
    border-radius: 50%;
    opacity: 1;
}

.opacity-box.second:hover {
    box-shadow: 0 0 60px inset;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.opacity-box.third {
    opacity: .3;
    background-color: #005511;
}
.opacity-box.third:hover {
    opacity: 1;
}

