* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1b24;
    color: #d6d6d6;
}

.foo
{
background: -moz-radial-gradient(circle, yellow, green);
}



.page-header {

}

.page-footer {

}